body{
    background-color: #ECECEC
}

#content {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#content #login {
    background-color: #FFF;
    padding: 0;
    box-shadow: 2px 2px 1px grey;
}

#content #login img {
    width: 100%;    
}

#form {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}

#forgot-password {
    text-decoration: none;
    color: #CECECE;
}

h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

input {
    background-color:#FFFFFF;
    border: none !important; 
}
input::-webkit-input-placeholder {
    color: #CCCCCC;
    position:relative;
    padding-left:0;
    -webkit-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}
input:-moz-placeholder {
    /* Firefox 18- */
    color: #CCCCCC;
    position:relative;
    padding-left:0;
    -moz-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}
input::-moz-placeholder {
    /* Firefox 19+ */
    color: #CCCCCC;
    position:relative;
    padding-left:0;
    -moz-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}
input:-ms-input-placeholder {
    color: #CCCCCC;
    position:relative;
    padding-left:0;
    -ms-transition: padding 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}
/*
* On hover
*/
 input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    padding-left:80%;
}
input:hover:-moz-placeholder, input:focus:-moz-placeholder {
    /* Firefox 18- */
    padding-left:80%;
}
input:hover::-moz-placeholder, input:focus::-moz-placeholder {
    /* Firefox 19+ */
    padding-left:80%;
}
input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder {
    padding-left:80%;
}